@model IEnumerable<ParticeCustomer3.Models.客戶聯絡人>
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <a href="" onclick="return ExportExcel('@Url.Action("ExcelExport","Contact")')">[Export to Excel]</a>
</p>
    @using (Html.BeginForm("Index", "Contact", FormMethod.Get,new { name="form1"}))
    {
        @Html.Label("職稱:") @Html.DropDownList("Title", (IEnumerable<SelectListItem>)ViewBag.TitleList, "--請選擇--",new { onchange="this.form.submit();"})
        @*<input type="submit" value="Search">*@
   @Html.Hidden("sortcolumn")
        @Html.Hidden("page")
<table class="table">
    <tr>
        <th>
            <a href="@Url.Action("Index","Contact")" onclick="return MakeSort('@ViewBag.TitleSortParm');">@Html.DisplayNameFor(model => model.職稱)</a>
        </th>
        <th>
            <a href="@Url.Action("Index","Contact")" onclick="return MakeSort('@ViewBag.NameSortParm');">@Html.DisplayNameFor(model => model.姓名)</a>
        </th>
        <th>
            <a href="@Url.Action("Index","Contact")" onclick="return MakeSort('@ViewBag.EmailSortParm');">@Html.DisplayNameFor(model => model.Email)</a>
        </th>
        <th>
            <a href="@Url.Action("Index","Contact")" onclick="return MakeSort('@ViewBag.MobileSortParm');">@Html.DisplayNameFor(model => model.手機)</a>
        </th>
        <th>
            <a href="@Url.Action("Index","Contact")" onclick="return MakeSort('@ViewBag.TELSortParm');">@Html.DisplayNameFor(model => model.電話)</a>
        </th>
     
        <th>
            <a href="@Url.Action("Index","Contact")" onclick="return MakeSort('@ViewBag.CusName');">@Html.DisplayNameFor(model => model.客戶資料.客戶名稱)</a>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.職稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.姓名)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.手機)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
    }
<br />
@Html.PagedListPager(Model as IPagedList,p=>Url.Action("Index",new { page=p}))
@section breadcrumb{
    <li><a href="@Url.Action("Index","Contact")">客戶聯絡人管理</a></li>
}
@section scripts{
    <script>
        $(function () {
            $('.pagination a').on('click', function () {
                var href = $(this).attr('href');
                var pid = href.substring(href.indexOf('?page=') + 6);
                document.form1.page.value = pid;
                document.form1.submit();
                return false;
            });
        });
        function MakeSort(column) {
            document.form1.sortcolumn.value = column;
            document.form1.submit();
            return false;
        }

        function ExportExcel(actionname) {
           document.form1.action = actionname;
            document.form1.submit();
            document.form1.action = "@Url.Action("Index", "Contact")";
            return false;
        }
    </script>
}