@model ParticeCustomer3.Models.客戶銀行資訊

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.EditorForModel("Bank")
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section breadcrumb{
    <li><a href="@Url.Action("Index","Bank")">銀行帳戶管理</a></li>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
