
@model  ParticeCustomer3.Models.CustSearchViewModel
@using PagedList;
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2> 

<p></p>

    @using (Html.BeginForm("Index", "Customer", FormMethod.Get, new { name = "form1" }))
    {
        @Html.ActionLink("[Create New]", "Create")    @*@Html.ActionLink("[Export to Excel]", "ExcelExport", new { Keyword = ViewBag.celKeyword, 客戶分類= ViewBag.celCusType, sortcolumn= ViewBag.celSort }, new { onclick = "this.form.submit();" })*@
        <a href="" onclick="return ExcelSubmit('@Url.Action("ExcelExport")')">[Export to Excel2]</a>
        @Html.Hidden("sortcolumn")
        @Html.Hidden("page")

        <table>
            <tr>
                <td>
                    @Html.Label("客戶名稱") @Html.Label(":")
                </td>
                <td colspan="2">
                    @*<input type="text" name="Keyword" />*@
                    @Html.TextBox("Keyword")
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("客戶分類:")
                </td>
                <td>
                    @Html.DropDownList("客戶分類", Model.CusType, "--請選擇--",new { onchange="this.form.submit();"})
                </td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>


<table class="table">
    <tr>
        <th>
            <a href="@Url.Action("Index", "Customer")" onclick="return MakeSort('@ViewBag.NameSortParm');">@Html.DisplayNameFor(model => model.客戶名稱)</a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Customer")" onclick="return MakeSort('@ViewBag.SerialSortParm');">@Html.DisplayNameFor(model => model.統一編號)</a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Customer")" onclick="return MakeSort('@ViewBag.TELSortParm');">@Html.DisplayNameFor(model => model.電話)</a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Customer")" onclick="return MakeSort('@ViewBag.FAXSortParm');">@Html.DisplayNameFor(model => model.傳真)</a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Customer")" onclick="return MakeSort('@ViewBag.AddressSortParm');">@Html.DisplayNameFor(model => model.地址)</a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Customer")" onclick="return MakeSort('@ViewBag.EmailSortParm');">@Html.DisplayNameFor(model => model.Email)</a>
        </th>
        <th>
            <a href="@Url.Action("Index", "Customer")" onclick="return MakeSort('@ViewBag.CusTypeSortParm');">@Html.DisplayNameFor(model => model.客戶分類)</a>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Customers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.客戶名稱)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.統一編號)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.電話)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.傳真)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.地址)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.客戶分類資訊.分類名稱)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
    }
<br />
@Html.PagedListPager(Model.Customers as IPagedList, p => Url.Action("Index", new { page = p }))
@section breadcrumb{
<li><a href="@Url.Action("Index","Customer")">客戶資料管理</a></li>
}
@section scripts{
    <script>
        $(function () {
            $('.pagination a').on('click', function () {
                var href = $(this).attr('href');
                var pid = href.substring(href.indexOf('?page=') + 6);
                document.form1.page.value = pid;
                document.form1.submit();
                return false;
            });
        });
        function MakeSort(column) {
            document.form1.sortcolumn.value = column;
            document.form1.submit();
            return false;
        }

        function ExcelSubmit(actionname) {

            document.form1.action = actionname;
            document.form1.submit();
            document.form1.action = "@Url.Action("Index", "Customer")";
            return false;
        }
    </script>
}